<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head-bootstrap') %>
    <title>Document</title>
</head>
<body>
    <h1>Edit Project</h1>
    <br>
    <form action="/company/<%= project.CompanyId %>/project/edit/<%= project.id %>" method="post">
        <div>
            <label>Name Project</label>
            <input type="text" name="nameProject" value="<%= project.nameProject %>">
        </div>
        <div>
            <label>Minimum Load</label>
            <input type="text" name="minimumLoad" value="<%= project.minimumLoad %>">
        </div>
        <div>
            <label>Detail</label>
            <input type="text" name="detail" value="<%= project.detail %>">
        </div>
        <div>
            <label>Image URL</label>
            <input type="text" name="imageURL" value="<%= project.imageURL %>">
        </div>
        <button type="submit">Edit Project</button>
    </form>
</body>
</html>