<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head-bootstrap') %>
    <title>Document</title>
</head>

<body style="background: url('/asset/wave-haikei.svg'); background-repeat: no-repeat; background-size: cover;color: white;">
    <%- include('partial/navbar') %>

    <div class="container mx-auto flex flex-col  my-20 py-10">
        <h1 class="text-7xl text-center mb-[.4em]">Login</h1>

        <div class="text-center my-10 bg-[#fce7f3] text-red-600 w-[35em] mx-auto">
            <% if(error) { %>
                <% error?.split(',').forEach(elem=> { %>
                    <p>
                        <%= elem %>
                    </p>
                    <% }); %>
                        <% } %>

                            <% if(invalid) { %>
                                <p style="color: red;">
                                    <%= invalid %>
                                </p>
                                <% } %>
                                 <% if(errorPassword) { %>
                                    <p><%= errorPassword %></p>
                               <%  } %>
                                 <% if(errorUsername) { %>
                                    <p><%= errorUsername %></p>
                               <%  } %>
        </div>


        <form action="/login" method="post" class="mx-auto border border-white py-16 px-10">
            <div class="flex justify-between my-5">
                <label class="text-2xl">Username :</label>
                <input type="text" name="username" class="border border-black text-2xl  p-1" autocomplete="false">
            </div>
            <div class="flex justify-between my-5">
                <label class="text-2xl">Password :</label>
                <input type="password" name="password" class="border border-black text-2xl p-1 " autocomplete="false" style="color: black;">
            </div>
            <div class="flex justify-center">
                <button type="submit" class="bg-[#64748b] p-2 rounded text-white ">LOGIN</button>

            </div>
        </form>
    </div>
</body>

</html>