<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head-bootstrap') %>
    <title>Document</title>
</head>
<body>
    <%- include('partial/nav-logged' , { invId: investor.id }) %>

    <div class="container mx-auto flex flex-col  my-20 py-10">
        <h1 class="text-4xl my-5">Profile Investor</h1>
        <h3 class="text-2xl">Full Name : <%= investor.nameInvestor %></h3>
        <h3 class="text-2xl">Saldo : <%= investor.formatCurency %></h3>
        <h3 class="text-2xl">Rank : <%= investor.getRank() %></h3>
        <h2 class="text-center text-4xl font-bold my-8 underline">Portofolio</h2>
        <table class="text-lg shadow-lg">
            <thead>
                <tr class="border-b-2 border-black">
                    <th>Image</th>
                    <th>Name Project</th>
                    <th>Minimum Load</th>
                    <th>detail</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% investor.ProjectInvestors?.forEach(el =>{ %>
                    <tr class="border-b-2 text-center hover:bg-[#f3f4f6]">
                        <td><img src="<%= el.Project.imageURL %>" alt=""></td>
                        <td><p><%=el.Project.nameProject%></p></td>
                        <td><p><%= formatCurent(el.Project.minimumLoad)%></p></td>
                        <td><p><%=el.Project.detail%></p></td>
                        <td><a href="/investor/<%= investor.id %>/portofolio/<%= el.id %>/delete" class="bg-[#64748b] p-2 rounded text-white inline-block px-5 my-2 hover:underline hover:text-blue-200">Jual</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>