<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head-bootstrap') %>
    <title>Document</title>
    <style>
        a:link, a:visited {
        background-color: gray;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }

        a:hover, a:active {
        background-color: grey;
        }
    </style>
</head>
<body class="text-center">
    <%- include('partial/nav-company') %>
     <div class="container mx-auto flex flex-col  my-20 ">
    <h1 h1 class="text-7xl text-center mb-[.4em]">Project Company</h1>
    <a href="/company/<%= Company.id %>/project/add">ADD new project</a>
    <table class="border border-black">
        <thead class="border border-black">
            <tr class="border border-black">
                <th>Image</th>
                <th>Name Project</th>
                <th>Minimum Load</th>
                <th>detail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% Company.Projects?.forEach(el =>{ %>
                <tr class="border border-black">
                    <td class="border border-black"><img src="<%= el.imageURL %>" alt=""></td>
                    <td class="border border-black"><p><%=el.nameProject%></p></td>
                    <td class="border border-black"><p><%=el.minimumLoad%></p></td>
                    <td class="border border-black"><p><%=el.detail%></p></td>
                    <td class="border border-black"><a style="border-radius:15px ;" href="/company/<%= el.CompanyId  %>/project/edit/<%= el.id  %>">Edit</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>