<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Project List</h1>
    <form action="/investor/<%= UserId %>/projectList" method="get">
        <input type="text" placeholder="Search...." name="search">
        <select name="sort">
            <option value="" selected disabled hidden>--Order By--</option>
            <option value="ASC">Termurah</option>
            <option value="DESC">Termahal</option>
        </select>
        <button>Find</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name Project</th>
                <th>Minimum Load</th>
                <th>detail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% project?.forEach(el =>{ %>
                <tr>
                    <td><img src="<%= el.imageURL %>" alt=""></td>
                    <td><p><%=el.nameProject%></p></td>
                    <td><p><%=el.minimumLoad%></p></td>
                    <td><p><%=el.detail%></p></td>
                    <td><a href="/investor/<%= el.CompanyId  %>/projectList/<%= el.id  %>">Details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>